# Arquivos de sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores e IDEs (VS Code, PyCharm, etc)
.vscode/
.idea/
*.swp
*.swo

# Logs e arquivos temporários
*.log
*.tmp

# Dependências ou builds locais (caso adicione Node/Frameworks no futuro)
node_modules/
dist/
.env

teste/